.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 30px;
  height: 7rem;
  width: 15rem;
  letter-spacing: 0;
  background-color: transparent;
}

.mainMenu {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 500;
  cursor: pointer;
}

.mainSearch {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 500;
  height: 100%;
  width: 7rem;
  cursor: pointer;
}
