.wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--font-family);
  letter-spacing: 0;
  background-color: var(--white);
  user-select: none;
  cursor: pointer;
}
