@import 'normalize.css';

:root {
  --first: #00bbff;
  --last: #ffbbff;
  --first-header: rgba(0, 187, 255, 0.8);
  --last-header: rgba(255, 187, 255, 0.8);
  --primary: #88bbff;
  --linear: linear-gradient(to bottom right, var(--first), var(--last));
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  --font-family: 'Arial', sans-serif;
  --font-family-title: 'SarabunNew';
  --font-family-content: 'SarabunNewBold';
  --font-family-icons: 'Material Design Icons';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
  overscroll-behavior: contain;
  margin: auto;
}

// Scroll bar css
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.1);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Button and a
button,
input,
[tabIndex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style: none outside none;
  font-family: var(--font-family);
}

// fonts embedded
@font-face {
  font-family: SarabunNew;
  src: url('/assets/fonts/Sarabunnew.ttf');
  font-weight: 200;
}
@font-face {
  font-family: SarabunNew;
  src: url('/assets/fonts/Sarabunnew.ttf');
  font-weight: 300;
}
@font-face {
  font-family: SarabunNew;
  src: url('/assets/fonts/Sarabunnew.ttf');
  font-weight: 400;
}

@font-face {
  font-family: SarabunNew;
  src: url('/assets/fonts/Sarabunnew.ttf');
  font-weight: 500;
}

@font-face {
  font-family: SarabunNewBold;
  src: url('/assets/fonts/sarabunnew-bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: SarabunNewBold;
  src: url('/assets/fonts/sarabunnew-bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: SofiaPro;
  src: url('/assets/fonts/sofiapro-bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: Material Design Icons;
  src: url('/assets/fonts/materialdesignicons-webfont.woff2');
  font-weight: 700;
}
