.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
// Content
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  max-width: 1600px;
}

// Partners
.partners {
  padding: 20px 0;
}
.partners-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.partners-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10px 20px;
  padding: 0 10px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%), 0 1px 3px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
.partners-logo {
  width: 20rem;
  height: 16rem;
  margin: 10px 20px;
  padding: 0 10px;
}
.partners-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.partners-text {
  flex: 1;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}
.partners-title {
  top: 0;
}
.partners-description {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}
.partners-link {
  align-self: flex-end;
  bottom: 0;
  font-size: 1.3rem;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .partners-content {
    flex-direction: column;
  }
}
