.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.intro-image {
  flex: 1;
}
.home-image {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}
.content-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  max-width: 1600px;
  width: 80%;
  height: 100%;
  margin: auto;
}
.intro-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
}
.title-intro,
.content-intro,
.info-intro {
  background: var(--linear);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-intro {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 600;
}
.content-intro {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}
.info-intro {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
}
