.wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7rem;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background: linear-gradient(to bottom right, var(--first), var(--last));
  color: var(--text-color);
  opacity: 0.8;
}

.inner {
  max-width: 1600px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.logo {
  display: flex;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

// Actions
.actions {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

// Search
.search-result {
  width: 50rem;
}
.search-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: transparent;
  opacity: 0.8;
  animation: inputShow 0.5s linear;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  padding-left: 10px;
  border-top: 0;
  height: 4rem;
  border-bottom: solid 2px var(--black);

  input {
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    padding-right: 40px;
    font-size: 1.8rem;
    line-height: 1rem;
    color: var(--black);
    background-color: transparent;
  }
}

@keyframes inputShow {
  from {
    width: 10%;
  }
  to {
    width: 50%;
  }
}

.search-title {
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 10px;
}

.clear,
.loading {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.24);
  background-color: transparent;
}

.loading {
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.button {
  display: flex;
  align-items: center;
  height: 100%;
}
.find-btn,
.close-btn {
  width: 5rem;
  height: 100%;
  background-color: transparent;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    color: var(--white);
  }
}

.search-btn {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 500;
  height: 100%;
  width: 7rem;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    color: var(--white);
  }
}

// Mobile responsive
.inner-mobile {
  display: none;
  position: relative;
}

.actions-mobile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
  background: var(--linear);
  position: absolute;
  top: 50px;
  right: 0;
  min-width: 200px;
  border-radius: 4px;
}

.toggle-menu-btn,
.show-menu-btn {
  width: 5rem;
  height: 100%;
  background-color: transparent;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1050px) {
  .actions {
    display: none;
  }

  .inner-mobile {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 0;
  }

  .inner-mobile {
    display: flex;
    // width: 100%;
  }

  .actions-mobile {
    width: 150px;
  }
}
